/* Styling for HW-03 Goes in this File */

body {
	font-family: Arial;
}

h1 {
	text-align: center;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
}

.column {
  padding: 20px;
}

.botright{
 width: 580px;
}

h3 {
	text-align: center;
}